<!DOCTYPE html>

<html>

<head>
    <title>App de Viajes</title>
    <link rel="icon" href="/img/avion.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

      
        {{>lowPrices}}

        {{>search}}
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}
</body>

</html>