<!DOCTYPE html>

<html>

<head>
    <title>App de Viajes</title>
    <link rel="icon" href="/img/avion.png">
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

      
        {{>lowPrices}}

        {{>search}}  
            <form>
                <input placeholder="Origen">
                <button>Search</button>
            </form>
        <br>
            <form>
                <input placeholder="Destino">
                <button>Search</button>
            </form>

        
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    <div>
        <br>
        <br>
        <br>
        {{>footer}}
    </div>
</body>

</html>