<!DOCTYPE html>

<html>

<head>
    <title>App de Viajes</title>
    <link rel="icon" href="/img/avion.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
        <br>
        <br>
        <br>
        <div  display="center">
            <p>Ingrese su usuario</p>
            <form>
                <input placeholder="User"  display="center">
            </form>
        </div>
           
        <br>
                    <p>Ingrese su usuario</p>
            <form>
                <input placeholder="Password">
            </form>
                            <button>Log in</button>
   <br>
        <br>
        <br>
           <br>
        <br>
        <br>
           <br>
        <br>
        <br>
    {{>footer}}
</body>

</html>