<!DOCTYPE html>

<html>

<head>
    <title>App de Viajes</title>
    <link rel="icon" href="/img/avion.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}

    <div>
        <p>Datos del usuario:</p>
        <p>Nombre:</p>
        <p>Apellido:</p>
        <p>Mail:</p>
        <p>Telefono:</p>
        <p>Mis compras:</p>
        <ul>
            <li>Viaje 1</li>
            <li>Viaje 2</li>
            <li>Viaje 3</li>
            <li>Viaje 4</li>
            <li>Viaje 5</li>
            <li>Viaje 6</li>
            <li>Viaje 7</li>
            <li>Viaje 8</li>
            <li>Viaje 9 </li>
        </ul>
    </div>

    {{>footer}}
</body>

</html>