<lowPrices>
    <p>Estas son las ofertas del dia:</p>
    <ul>
        <li>Las vegas</li>
        <li>Tokio</li>
        <li>Madrid</li>
        <li>Roma</li>
        <li>Munich</li>
        <li>Manchester</li>
        <li>Paris</li>
        <li>Buenos Aires</li>
        <li>Rio de Janeiro</li>
    </ul>
</lowPrices>
